{%  extends 'base.html' %}
{% load static %}

{% block content %}

  <div id="contact" class="contact-us section pb-0">
    <div class="container" style="min-height: 700px;">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">

          <form id="contactwe" action="{% url 'account' %}" method="post"  enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
                <div class="contactwe-info">

                  {% if user_date.image.url == none %}
                    <img  src="{{ user_data.image.url }}" alt="">
                  {% else %}
                    <img  src="{%  static 'assets/images/banner-right-image.png' %}" alt="">
                  {% endif %}

                </div>
                  <label for="file">Rasmiy suratingizni yuklang. </label>
              </div>

              <div class="col-lg-6">
                <div class="section-heading">
                  {% if user.is_authenticated %}
                    <h2>{{ user.first_name }} {{ user.last_name  }} {{ user_data.middle_name }}</h2>
                  {% else %}
                    <h2>Anonym</h2>
                  {% endif %}
                </div>
              </div>

              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">

                      {{form}} 

                    </div>
                  </div>
                  <div class="col-lg-12 mt-4 row">
                    <div class="col-lg-6 mt-4">
                      <a href="{% url 'account_form' %}" id="show" style="border: solid blue 1px; border-radius: 15px; background: #33ccc5; padding: 10px 0; display: block;"><b> Yangi fayl qo'shish</b> </a>                 
                    </div>
                    <div class="col-lg-6">
                      <p>Mavjud maqola</p>
                      <div class="clone_form"> 
                      
                      
                        <label type="text" style="float: left"><b>{{ teacherfile.type}}:</b></label> <a id="download" href="#" > {{ teacherfile.title }} </a> <br>
                        
                      </div>
                    </div>
                    
                      <button type="submit" id="show">Malumotlarni saqlash</button> 
                    
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div for="show" class="modal">
    <form for="show" action="" class="wer">
      <div for="show" style="float: right;"><a href=""><img style="width: 20px; height: 20px;" src="{%  static './assets/images/window-close-solid.svg' %}" alt=""></a></div>
      <div for="show" class="input_fields_wrap">
        <div class="col-lg-12 p-3">
          <label for="show" class="add_field_label" for="file" id="file" >Shartnoma nomi</label>
          <input type="text" id="file"  name="mytext[]">
          <input class="add_field_input" type="file" id="file" name="file" multiple>
          <button class="add_field_button">Add More Fields</button>
        </div>
    </div>
    </form>
  </div>

{% endblock %}