{%  extends 'base.html' %}
{% load static %}

{% block content %}


  <div id="services" class="our-services section pb-0">
    <div class="container-fluid" style="min-height: 700px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon" style="width: 300px; height: 400px;">
              
                    <img src="{{ random_teacher.image.url }}" alt=""  style="width: 300px; height: 400px;">
           
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>{{ random_teacher.user.first_name }} {{ random_teacher.user.last_name  }} {{ random_teacher.middle_name }}</h4>
                  <p><b>Darajasi: </b> {{ random_teacher.daraja.title }}</p>
                  <p><b>Unvoni: </b> {{ random_teacher.unvon.title }}</p>
                  <p><b>Fakulteti: </b>{{ random_teacher.fakultet.title }}</p>
                  <p><b>Kafedrasi: </b>{{ random_teacher.kafedra.title }}</p>
                  <p><b>Qisqacha ma'lumot: </b>{{ random_teacher.informaton }}</p>
                  <p>Xorijiy jurnalarda maqolasi {{xalqaro_maqola_number}} ta, Respublika jurnallarida maolasi {{mahalliy_maqola_number}} ta, Dasturiy guvohnomalari {{guvohnoma_number}} ta,
                      Xo'jalik shartnomalar {{shartnoma_number}} ta, Tanlovlarda Diplom sertifikatlari {{tanlov_number}} ta
                  </p>
                  <!-- maqolalar dasturiy guvohnomlalari yukla olish mumkin bo'lsin -->

                  {% for teacherfile in random_teacher_maqola %}
                  <a href="{{ teacherfile.file.url }}"> {{ teacherfile }},</a>
                  {% endfor %} 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}